:root {
  --blue: #61dafb;
  --lightgray: #deebf8;
  --darkgray: #282d35;
  --darkergray: #21222a;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darkgray);
  color: var(--lightgray);
}
